{% extends 'index.html' %}
{% load static %}

{% block konten %}
<div class="container mb-5 mt-5">
    <center><a href="{{addblog}}"><button class="btn btn-primary" style="width: 675px; height: 50px;">Tambah Blog</button></a></center>
    {% for isiblog in kontenblog %}
    <div class="row mt-4">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="row">
                <img src="{{isiblog.gambar}}" alt="" style="width: 700px;height: 400px;">
                <span>September 2019</span>
                <span style="padding-left:495px;">0 Comment</span>
                <h2>{{isiblog.judul}}</h2>
                <p>{{isiblog.deskripsi|truncatewords:70}}</p>
                <a href="{% url 'lengkapsss' blog_id=isiblog.id %}">Baca Selengkapnya</a>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

enctype