{% extends 'index.html' %}
{% load static %}

{% block konten %}
<div class="container mb-5 mt-5">
    <div class="row mt-4">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="row">
                <img src="{{kontenblog.gambar}}" alt="" style="width: 700px;height: 400px;" class="mb-4">
                <h2>{{kontenblog.judul}}</h2>
                <p>{{kontenblog.deskripsi}}</p>
                <p class="mb-5"><a href="{{halamanblog}}"> Kembali Ke Blog</a></p>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <center><a href="{{addblog}}"><button class="btn btn-primary" style="width: 675px; height: 50px;">Tambah Blog</button></a></center>

</div>

{% endblock %}

enctype