{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link href="{% static 'css/hover-min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}" />
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbarhomeposition">
    </nav>
    <div>
        <center><img src="{% static 'img/Jokowi-Header.jpeg' %}" alt="Error Tampilan Gambar"></center>
    </div>
    <nav class="navbar navbar-expand-lg m-auto" id="topnavbar">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent" style="color:white;">
            <ul class="navbar-nav m-auto ">
                <li class="nav-item mr-5">
                    <a class="nav-link" style="color:white;font-weight: bold;" href="{% url 'home' %}">Beranda<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a style="color:white; font-weight: bold;" class="nav-link" href="{% url 'prestasi' %}">Prestasi</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" style="color:white;font-weight: bold;" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color:white;font-weight: bold;">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Action</a>
                        <a class="dropdown-item" href="">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        {% block konten %}
        {% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $.each(jQuery('.carousel .item'), function (i, val) {
            $(this).css('background-image', 'url(' + $(this).find('img').attr('src') + ')').css('background-size', 'cover').find('img').css('visibility', 'hidden');
        });
    </script>
</body>
<footer>
    <div class="jumbotron jumbotron-fluid bigfooter mb-0">
        <div class="container">
            <center><img src="{% static 'img/Jokowi-Header.jpeg' %}" alt="Error Tampilan Gambar">
                <p class="mt-5">Hubungi kami: <a href="">thejokowicenter@gmail.com </a></p>
                <i class="fa fa-facebook-official mr-3" style="font-size:36px"></i>
                <i class="fa fa-instagram mr-3" style="font-size:36px"></i>
                <i class="fa fa-twitter" style="font-size:36px"></i>
            </center>
        </div>
    </div>

    <div class="copyright">
        <nav class="navbar navbar-dark navbarhomeposition mt-0">
            <div class="container">
                <i>CopyRight © 2019 @alterra</i>
        </nav>
    </div>
    </div>

</footer>

</html>