{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alterra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Alpha Tech Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{halamanhome}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{halamanblog}}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{halamanmentor}}">Mentor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{halamanmentee}}">Mentee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{halamanauthor}}">Author</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid m-auto" id='bgaqua'>
        <div class="container text-white">
            <div class="row">
                <center>
                    <div class="col-sm col-lg-7">
                        <img src="{% static 'img/alpha-logo.png' %}" alt="">
                        <h1 class="display-4">Alpha Tech Academy</h1>
                        <p class="lead">Alphatech Academy is a Tech Tallent Incubator That gives
                            everyone (even non IT background) a chance to be a professional Tech Tallent
                            within 3 months. Contact Person: Email: academy@alphatech.id Mobile phone:
                            087 9609 9530
                        </p>
                    </div>
                </center>
            </div>
        </div>
    </div>
    {% block konten %}
    {% endblock %}
    <footer class="text-white">
        <center>
            <footeratas>
                <div class="container-fluid" id="footeratas">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto" id="product">
                            <h4>Our Product:</h4>
                        </div>
                        <div class="col-md-auto">
                            <img src="{% static 'img/logo-grey-alphapay.png' %}" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="{% static 'img/logo-grey-sepulsa.png' %}" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="{% static 'img/logo-grey-alphabill.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </footeratas>
            <footerbawah>
                <div class="container-fluid bg-black" id="footerbawah">
                    <span><strong>Contact Person:</strong> Mobile Phone: 087 9609 9530. <a href="">Email:
                            academy@alphatech.id</a></span>
                </div>
            </footerbawah>
        </center>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>