{% extends 'index.html' %}
{% load static %}

{% block konten %}
<div class="container mb-5 mt-5">
    <div class="row mt-4">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="mt-5">
                <img src="{% static 'img/profile-pic2.jpg' %}" alt="">
            </div>
            <div class="row">
                <div class="col-sm mt-3 col-lg-7">
                    <h3>Faviansyah Arianda P.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mt-3 col-lg-11">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolores! Nobis quae sit,
                        magnam perspiciatis, incidunt laborum quos beatae, laboriosam itaque dignissimos numquam
                        unde? Tempora perspiciatis sit in assumenda amet.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-sm col-lg-4 col-sm 12 col-md-6 m-sm-auto">
                    <span>Alamat</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Jl. Sigura-Gura Selatan</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Telephone</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: 081-666-777-888-999</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Education</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Brawijaya University</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Profession</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Programmer</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Nationality</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Indonesia</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Company</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Alterra</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Email</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: faviansya@gmail.com</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm col-lg-4 col-sm 12">
                    <span>Address</span>
                </div>
                <div class="col-sm col-lg-8 col-sm 12">
                    <span>: Jl. Puncak Tidar 2/199</span>
                </div>
            </div>
            <div class="container mb-5 mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.4244414907516!2d112.59406194965665!3d-7.955013994242108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwNTcnMTguMSJTIDExMsKwMzUnNDYuNSJF!5e0!3m2!1sen!2sid!4v1549974635082"
                    width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

{% endblock %}