{% extends 'base.html' %}
{% load static %}

{% block konten %}
<center>
    <h1 class= 'mt-5 mb-5'>Selamat Data Di Toko Kami</h1>
</center>
<div class="container">
    <div class="row">
        {% for barangs in listbarang %}
        <div class="col-sm col border ml-5" style="padding:10px">
            <img src="{{barangs.gambar}}" alt="" style="width: 300px;height: 200px;">
            <h4>{{barangs.judul|linebreaks}}</h4>
            <h5>{{barangs.harga}}</h5>
            <a href="{% url 'lengkapsss' blog_id=barangs.id %}">Baca Selengkapnya</a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row mt-5 mb-5">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}