#backgroudwhite{
    background-color: white;
}

#footeratas{
    background-color:  #00cae5;
    padding-top: 17px;
    color: black;
}
#footerbawah{
    padding:5px;
    background-color: black;
}
#product{
    margin-top : 10px;
    margin-right: -15px;
}
#bgaqua{
    background-color: #00cae5;
}
#jumbopadding{
    padding: 50px;
}